.homepage {
    color: $theme-text;
    background-color: $theme-background;

     ul {
        margin: 1rem;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        
    }
}