.productcard {
    max-width: 320px;
    border: 2px solid gray;
    border-radius: 2rem 2rem 1rem 1rem;
    display: flex;
    text-decoration: none;
    margin: 0.5rem;
    box-shadow: 0rem 0rem 0.3rem greenyellow;
    transition: all 0.3s ease;
    height: calc(100% - 1rem);

    &:hover {
        transform: translate(0.5rem);
        box-shadow: -0.5rem 0rem 0.3rem greenyellow;
        transition: all 1s ease;
    }

    a {
        display: flex;
        flex-direction: column;
        border-radius: 2rem;
        text-decoration: none;
        color: $theme-text;
        background-color: $theme-background;
        

        > img {
            border-top-left-radius: 2rem;
            border-top-right-radius: 2rem;
            border-bottom: 3px solid greenyellow;
            max-width: 100%;
            object-fit: contain;
        }

        > div {
            flex-direction: row;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 0.2rem;
            padding-right: 1rem;

             > p {
                background-color: greenyellow;
                border-bottom-left-radius: 50%;
                border-bottom-right-radius: 50%;
                padding: 1rem;
             }
        }

        > p {
            padding: 0.2rem;
            padding-bottom: 1rem;
        }
    }
}